/*----------- Fonts ---------- */

$font-LogoTitle: "Shrikhand", serif;
$font-text: "Roboto", sans-serif;

.title {
  font-family: $font-LogoTitle;
  font-weight: 500;
}

/*----------- Colors ---------- */

$--primary: #9356dc;
$--secondary: #ff79da;
$--tertiary: #99e2d0;
$--darkgray: darkgray;
$--dimgray: dimgray;
$--lightgray: lightgray;
$--ultralightgray: #eaeaea;
$--graywhite: #f6f6f6;
$--lightpurple: #f5edff;
$--lightgreen: #99e2d0;
$--green: #2faf94;
$--grayblack: #353535;

$--darken: 10%;
$--lighten: 10%;

/*----------- All ---------- */

html,
body {
  scroll-behavior: smooth !important;
}

body {
  font-family: $font-text;
  max-width: 1440px;
  margin: auto;
  background: $--graywhite;
}

input {
  font-family: $font-text;
  border: none;
  background-color: $--ultralightgray;
  width: 120px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $--grayblack;
    font-weight: 600;
  }
}

ul,
li {
  list-style-type: none;
}

/*----------- Header ---------- */

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  &__logo {
    &--mobile {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 60px;
      box-shadow: 0px 2px 4px 0px #00000026;
    }

    &--desktop {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100px;
      box-shadow: 0px 2px 4px 0px #00000026;
      display: none;
    }

    @media (min-width: 1024px) {
      &--mobile {
        display: none;
      }

      &--desktop {
        display: flex;
      }
    }
  }

  .header--home {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .fa-arrow-left {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    z-index: 99999;
    color: black;
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: $--ultralightgray;
    box-shadow: 0px 4px 4px 0px #00000026;

    input {
      height: 19px;
      font-size: large;
      width: 120px;
      margin-left: 10px;
    }
  }
}

/*----------- Main ---------- */

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__h2 {
    margin-top: 40px;

    @media (min-width: 1025px) {
      font-weight: 700;
      font-size: 40px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      font-weight: 700;
      font-size: 40px;
    }
  }

  &__p {
    margin-top: 0;
    color: $--grayblack;
    font-size: 18px;
  }

  &__button {
    background: rgb(147, 86, 220);
    background: linear-gradient(
      193deg,
      rgba(147, 86, 220, 1) 0%,
      rgba(244, 118, 218, 1) 27%,
      rgba(255, 121, 218, 1) 30%,
      rgba(255, 172, 232, 1) 70%,
      rgba(174, 128, 229, 1) 100%
    );
    background-size: 300%;
    background-position: right;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      background-position: left;
      transform: translateY(-5px);
      transform: scale(1.1);
      box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.5);
    }
  }
}

/*----------- Fonctionnement ---------- */

.fonctionnement {
  background: white;

  h2 {
    padding: 0 15px;
    font-weight: 600;
    padding-top: 40px;

    @media (min-width: 1025px) {
      margin-left: 50px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      margin-left: 50px;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 769px) and (max-width: 1024px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-bottom: 10px;
    }

    @media (min-width: 426px) and (max-width: 768px) {
      align-items: center;

      .fonctionnement__div {
        width: 80%;
      }
    }
  }

  &__div {
    display: flex;
    align-items: center;
    margin: 15px 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background: $--graywhite;
    box-shadow: 0px 4px 15px 0px #00000026;

    @media (min-width: 1025px) {
      padding: 10px 60px;
      width: 25%;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      padding: 10px 15px;
      width: 25%;
    }

    i {
      font-size: large;
      margin-right: 20px;
      color: $--darkgray;
    }

    p {
      font-size: 16px;
      font-weight: 600;
    }

    &:last-child {
      margin-bottom: 50px;

      @media (min-width: 1025px) {
        margin-bottom: 15px;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        margin-bottom: 15px;
      }
    }
  }

  &__number {
    display: flex;
    position: relative;
    align-items: center;
    left: -30px;
    justify-content: center;
    background: $--primary;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    text-align: center;
  }

  @media (min-width: 1025px) {
    .fonctionnement__group {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;
      width: 100%;
    }

    .fonctionnement__number {
      left: -40px;
    }

    .fonctionnement__div {
      padding-left: 30px;
      padding-right: 20px;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .fonctionnement__div {
      padding-left: 20px;
    }
  }
}

/*----------- Index.html / Restaurants ---------- */

#restaurants {
  h2 {
    margin-left: 20px;

    @media (min-width: 1025px) {
      margin-left: 50px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      margin-left: 50px;
    }
  }
}

.restaurants {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    background: white;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 300px;
    overflow: hidden;
    transition: transform 0.3s ease;

    a {
      height: 65%;
      width: 100%;
    }

    &:hover {
      transform: translateY(-5px);
    }

    @media (min-width: 1025px) {
      width: 100%;
    }
  }

  @media (min-width: 1025px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 90%;
    column-gap: 60px;
  }
}

.card__img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__container {
  width: 100%;
  height: 35%;
  margin-left: 20px;

  img {
    position: absolute;
    right: 20px;
    bottom: 40px;
  }

  .hidden-checkbox {
    display: none;
  }

  .heart-label .liked {
    opacity: 0;
  }

  .hidden-checkbox:checked + .heart-label .default {
    transition: opacity 400ms;
    opacity: 0;
  }

  .hidden-checkbox:checked + .heart-label .liked {
    transform: scale(1.15);
    transition: opacity 400ms;
    animation-name: liked;
    animation-duration: 800ms;
    opacity: 1;
  }

  .hidden-checkbox:not(:checked) ~ .heart-label .default {
    transform: scale(1.15);
    transition: opacity 400ms;
    animation-name: liked;
    animation-duration: 800ms;
    opacity: 1;
  }

  @keyframes liked {
    0% {
      transform: scale(1.15);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1.15);
    }
  }
}

.card__heart {
  cursor: pointer;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  background: $--tertiary;
  color: $--green;
  padding: 5px 10px;
  top: 10px;
  right: 10px;
}

/*----------- Menu ---------- */

.restaurant {
  position: absolute;
  top: 40%;
  width: 100%;
  border-radius: 50px;
  background: $--graywhite;

  &__img {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 285px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.hidden-checkbox {
  display: none;
}

.heart-label .liked {
  display: none;
  opacity: 0;
}

.hidden-checkbox:checked + .heart-label .default {
  transition: opacity 400ms;
  display: none;
  opacity: 0;
}

.hidden-checkbox:checked + .heart-label .liked {
  transform: scale(1.15);
  transition: opacity 400ms;
  animation-name: liked;
  animation-duration: 800ms;
  display: block;
  opacity: 1;
}

.hidden-checkbox:not(:checked) ~ .heart-label .default {
  transform: scale(1.1);
  transition: opacity 400ms;
  animation-name: liked;
  animation-duration: 800ms;
  opacity: 1;
}

@keyframes liked {
  0% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.15);
  }
}

/*----------- Footer ---------- */

.footer {
  width: 100%;
  background: $--grayblack;
  color: white;

  &__logo {
    font-family: $font-LogoTitle;
    padding: 20px 0px 0px 40px;
    font-weight: 500;

    @media (min-width: 1025px) {
      padding: 0 100px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      padding: 0;
    }
  }

  &__container {
    @media (min-width: 1025px) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;
      padding-top: 50px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__list {
    padding-bottom: 10px;
    margin-bottom: 0;

    li {
      display: flex;
      align-items: center;
      height: 20px;
      margin-top: 10px;
      transition: color 0.2s ease;
      cursor: pointer;

      i {
        padding-right: 10px;
      }

      &:last-child {
        padding-bottom: 20px;
      }

      &:hover {
        color: #89c8fa;
      }
    }

    @media (min-width: 1025px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      li {
        margin: 0 20px;
      }

      li:last-child {
        padding: 0;
      }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-left: 0;
      padding-bottom: 20px;

      li {
        margin: 0 20px;
      }
    }
  }
}

/* Loader */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeOut 1s forwards 2s;
}

.loader-logo {
  width: 40%;
  height: auto;
  animation: bounce 1s forwards 2s;

  @media (min-width: 1025px) {
    width: 15%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    width: 30%;
  }
}

.loader-bar-container {
  margin-top: 20px;
  width: 50%;
  height: 10px;
  background-color: $--lightpurple;
  border-radius: 10px;

  @media (min-width: 1025px) {
    width: 20%;
  }

  @media (min-width: 768px) and (max-width: 1025px) {
    width: 40%;
  }
}

.loader-bar {
  width: 0%;
  height: 100%;
  background-color: $--primary;
  border-radius: 10px;
  animation: fill 2s linear forwards;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    display: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
    display: none;
  }
}

/*----------------------- */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu__container {
  position: relative;
  background: $--graywhite;
  max-width: 1000px;
  width: 100%;
  padding-top: 50px;

  h2 {
    font-family: $font-LogoTitle;
    font-weight: 500;
    font-size: 24px;
  }
}

.menu__header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $--graywhite;
  border-radius: 50px;
  top: -40px;
  width: 100%;

  @media (min-width: 768px) and (max-width: 1024px) {
    justify-content: center;

    .heart-label {
      margin-left: 30px;
    }
  }

  @media (min-width: 1025px) {
    justify-content: center;

    .heart-label {
      margin-left: 30px;
    }
  }
}

.menu__title {
  display: flex;
  align-items: center;
  padding-left: 20px;

  h2 {
    font-weight: 300;
    text-transform: uppercase;
    position: relative; /* Assurez-vous que le positionnement est relatif pour les éléments ::before et ::after */

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px; /* Ajustez la distance de la ligne par rapport au texte */
      width: 50%; /* Ajustez la largeur de la ligne en fonction de la largeur du titre */
      border-bottom: 3px solid $--tertiary; /* Ajoutez un trait en dessous du titre */
    }
  }
}

.menu__content {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 1025px) {
    width: 60%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    width: 70%;
  }
}

.menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.app {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.meal {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 15px;
  overflow: hidden; 
}

.meal__label {
  width: 90%;
}

.meal-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.meal__title {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 90%;

  h3 {
    padding: 15px 0 5px 15px;
  }

  p {
    padding: 5px 0 15px 15px;
  }
}

.meal__price {
  margin-right: 20px;
  display: flex;
  align-self: flex-end;
}

.meal__check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin-right: -60px;
  transition: all 0.3s;
  background: $--tertiary;
  color: white;
  font-size: 18px;
}

.hidden-checkbox:checked ~ .meal__label .meal__check {
  transition: all 0.3s;
  margin-right: 0;
}
