/*----------- Fonts ---------- */

$font-LogoTitle: "Shrikhand", serif;
$font-text: "Roboto", sans-serif;

/*----------- Colors ---------- */

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

/*----------- All ---------- */

html, body {
  scroll-behavior: smooth !important;
}

body {
  font-family: $font-text;
  margin: 0;
  padding: 0;
  background: #F6F6F6;
}

input {
  font-family: $font-text;
  border: none;
  background-color: #eaeaea;
  width: 120px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #353535;
    font-weight: 600;
  }
}

ul, li {
  list-style-type: none;
}

/*----------- Header ---------- */

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

  &__logo {

    &--mobile {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 60px;
      box-shadow: 0px 2px 4px 0px #00000026;
    }

    &--desktop {
      display: none;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    box-shadow: 0px 4px 4px 0px #00000026;

    input {
      height: 19px;
      font-size: large;
      width: 120px;
      margin-left: 10px;
    }
  }
}

/*----------- Main ---------- */

.article {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-align: center;

  &__h1 {
    margin-top: 40px;
  }

  &__p {
    margin-top: 0;
    color: #353535;
    font-size: 18px;
  }

  &__button {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    margin-bottom: 40px;
  }
}

/*----------- Fonctionnement ---------- */

.fonctionnement {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #FFFFFF;

  h1 {
    padding: 0 15px;
    font-weight: 600;
    padding-top: 40px;
  }

  &__div {
    display: flex;
    align-items: center;
    margin: 15px 30px;
    padding: 10px 20px;
    border-radius: 20px;
    background: #F6F6F6;
    box-shadow: 0px 4px 15px 0px #00000026;

    i {
      font-size: large;
      margin-right: 20px;
      color: #7E7E7E;
    }

    p {
      font-weight: 600;
    }

    &:last-child {
      margin-bottom: 50px;
    }
  }
  
  &__number {
    display: flex;
    position: relative;
    align-items: center;
    left: -30px;
    justify-content: center;
    background: $color-primary;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
  }
}

/*----------- Restaurants ---------- */

.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    background: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 300px;
    overflow: hidden;
  }
}

.card__img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 65%;
  object-fit: cover;
}

.card__container {
  width: 100%;
  height: 35%;
  margin-left: 20px;

  img {
    position: absolute;
    right: 20px;
    bottom: 40px;
  }

  .hidden-checkbox {
    display: none;
  }

  .heart-label .liked {
    opacity: 0;
  }

  .hidden-checkbox:checked + .heart-label .default {
    transition: opacity 400ms;
    opacity: 0;
  }

  .hidden-checkbox:checked + .heart-label .liked {
    transform: scale(1.15);
    transition: opacity 400ms;
    animation-name: liked;
    animation-duration: 1000ms;
    opacity: 1;
  }

  @keyframes liked {
    0% {
      transform: scale(1.15);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1.15);
    }
  }

  @keyframes unliked {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(0.8);
      opacity: 0;
    }
  }
}

.new::before  {
  content: "Nouveau";
  position: absolute;
  background: $color-tertiary;
  color: #008766;
  padding: 5px 10px;
  top: 10px;
  right: 10px;
}

/*----------- Footer ---------- */

.footer {
  position: absolute;
  right: 0px;
  left: 0px;
  background: #353535;
  color: white;

  &__logo {
    font-family: $font-LogoTitle;
    padding: 20px 0px 0px 40px;
    font-weight: 500;
  }

  &__list {
    
    li {
      display: flex;
      align-items: center;
      height: 20px;
      margin-top: 10px;

      i {
        padding-right: 10px;
      }

      &:last-child {
        padding-bottom: 20px;
      }
    }
  }
}

