/*----------- Fonts ---------- */

$font-LogoTitle: "Shrikhand", serif;
$font-text: "Roboto", sans-serif;

/*----------- Colors ---------- */

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

/*----------- Body ---------- */

body {
  font-family: $font-text;
}

/*----------- Header ---------- */
